# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
/dist/
/build/
*.egg-info/

# Virtual environments
venv/
env/
*.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Jupyter Notebook specific
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
